.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 423px;
}

.search-form {
  margin-left: 50;
}

.search-input {
  width: 376px;
  border: 2px solid #3a6150;
  padding: 11px 15px;
}

.search-button {
  width: 48px;
  padding: 11px 15px;
  background-color: #3a6150;
  color: white;
}
